In [1]:
#Data manipulation
import pandas as pd

In [2]:
#Necessary library components
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

#Analysis libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load dataset
ratings_df = pd.read_csv('/Users/kaneaidan12/Downloads/archive (1)/rating.csv')

In [4]:
ratings_df['userId'] = ratings_df['userId'].astype('int32')
ratings_df['movieId'] = ratings_df['movieId'].astype('int32')
ratings_df['rating'] = ratings_df['rating'].astype('float32')

In [5]:
ratings_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int32
 1   movieId    int32
 2   rating     float32
 3   timestamp  object
dtypes: float32(1), int32(2), object(1)
memory usage: 1.6 GB

In [6]:
ratings_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating')

/Users/kaneaidan12/opt/anaconda3/lib/python3.9/site-packages/pandas/core/reshape/reshape.py:134: PerformanceWarning: The following operation may generate 3703856792 cells in the resulting pandas object.
  warnings.warn(

In [7]:
ratings_matrix.head(5)

movieId,1,2,3,4,5,6,7,8,9,10,...,131241,131243,131248,131250,131252,131254,131256,131258,131260,131262
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from scipy.sparse import csr_matrix
from sklearn.decomposition import TruncatedSVD

sparse_matrix = csr_matrix(ratings_matrix.fillna(0).values)

In [ ]:
svd = TruncatedSVD(n_components=20)
svd.fit(sparse_matrix)

In [ ]:
reduced_matrix = svd.transform(sparse_matrix)

n = 5

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
ratings_matrix_filled = ratings_matrix.fillna(0)

In [ ]:
#compute cosine similarity
cosine_sim = cosine_similarity(ratings_matrix_filled)

In [ ]:
#convert to df
cosine_sim_df = pd.DataFrame(cosine_sim, index=ratings_matrix.index, columns=ratings_matrix.index)

In [ ]:
cosine_sim_df.head(5)

In [ ]:
# Check the dimensions of the matrix
print("Matrix dimensions:", ratings_matrix.shape)

# Check the memory usage
memory_usage = ratings_matrix.memory_usage(deep=True).sum()
print("Memory usage (bytes):", memory_usage)

# Convert bytes to megabytes for easier interpretation
print("Memory usage (MB):", memory_usage / (1024 ** 2))